/* SECTIONS */

.c-s-full {
    height: 100vh;
}

/* MARGIN */

.c-m-1 {
    margin: 0.5rem !important;
}

.c-m-2 {
    margin: 1rem !important;
}

.c-m-3 {
    margin: 2rem !important;
}

.c-m-4 {
    margin: 3rem !important;
}

.c-m-5 {
    margin: 4rem !important;
}

.c-m-6 {
    margin: 6rem !important;
}

.c-m-7 {
    margin: 7rem !important;
}

.c-mt-1 {
    margin-top: 0.5rem !important;
}

.c-mt-2 {
    margin-top: 1rem !important;
}

.c-mt-3 {
    margin-top: 2rem !important;
}

.c-mt-4 {
    margin-top: 3rem !important;
}

.c-mt-5 {
    margin-top: 4rem !important;
}

.c-mt-6 {
    margin-top: 6rem !important;
}

.c-mt-7 {
    margin-top: 7rem !important;
}

.c-mt-8 {
    margin-top: 8rem !important;
}

.c-mb-1 {
    margin-bottom: 0.5rem !important;
}

.c-mb-2 {
    margin-bottom: 1rem !important;
}

.c-mb-3 {
    margin-bottom: 2rem !important;
}

.c-mb-4 {
    margin-bottom: 3rem !important;
}

.c-mb-5 {
    margin-bottom: 4rem !important;
}

.c-mb-6 {
    margin-bottom: 6rem !important;
}

.c-mb-7 {
    margin-bottom: 7rem !important;
}

.c-mb-8 {
    margin-bottom: 8rem !important;
}

.c-ml-1 {
    margin-left: 0.5rem !important;
}

.c-ml-2 {
    margin-left: 1rem !important;
}

.c-ml-3 {
    margin-left: 2rem !important;
}

.c-ml-4 {
    margin-left: 3rem !important;
}

.c-ml-5 {
    margin-left: 4rem !important;
}

.c-ml-6 {
    margin-left: 6rem !important;
}

.c-ml-7 {
    margin-left: 7rem !important;
}

.c-ml-8 {
    margin-left: 8rem !important;
}